x64/
Debug/
bin/
obj/
Release/
*.dll
*.exe
*.pdb
UnityEngine*.xml
.vs/
*~
!0Harmony.dll
*.aps
*.o
*.so
*.hog
*.pig
*.plr
*.log
*.wasm
d1wasm.html
d1wasm.js
*.data
descent.hog
descent.pig
*.gz
*.map
*.lst
DEADJOE
*.mp4
*.wast
upl.sh
input_*
descent2
descent2.*
descent.cfg
game2
*.256
*.mn2
lst
