x64/
Debug/
bin/
obj/
Release/
*.dll
*.exe
*.pdb
UnityEngine*.xml
.vs/
*~
!0Harmony.dll
*.aps
*.o
*.so
*.hog
*.pig
*.plr
*.log
*.wasm
d1wasm.html
d1wasm.js
*.data
descent.hog
descent.pig
*.gz
*.map
*.lst
DEADJOE
*.mp4
*.wast
upl.sh
input_*
descent2
descent2.*
descent.cfg
game2
*.256
*.mn2
lst
d2wasm.html
d2wasm.js
.gdb_history
*.pcx
*.ham
*.sg0
*.fnt
lst
lst[vpcr]
lst[0-9]
lst[vpcr][0-9]
lst[vpcr]_[0-9]
lst[0-9][0-9][a-z]
*.err
*.dem
descent2[cgtw]
*.bnk
*.hmq
*.dat
out
lstok
out*.png
test
out.bin
groupa.*
